.res-hero-container {
  position: relative;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}
.hero-image{width:100%;}
.image-counter {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 5px 12px;
  border-radius: 20px;
  font-size: 0.8rem;
}

.res-status .free {
  color: green;
  font-weight: bold;
}

.related-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 20px;
}
.detail-res-page{padding:0 20px;margin-bottom:20px;}.scroll-container {
  scrollbar-width: none; /* Ẩn thanh cuộn trên Firefox */
}
.scroll-container::-webkit-scrollbar {
  display: none; /* Ẩn thanh cuộn trên Chrome/Safari */
}