.projects-wrapper {
  width: 90%;
  margin: 20px auto;
}
/* Lưới dự án: 4 cột cho màn hình lớn */
.project-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 ảnh 1 hàng */
  gap: 20px;
  /* padding: 20px; */
  width: 100%;
}
/* Hàng nút tab ngang */
.tabs-header {
  display: flex;
  width: 100%;
  gap: 15px;
  margin-bottom: 20px; /* Tạo khoảng cách với nội dung phía dưới */
}

.tabs-header button {
  flex: 1; /* Chia đều 3 tab */
  padding: 15px;
  background: #eee;
  border: 1px solid #ddd;
  cursor: pointer;
  font-weight: bold;
}

.tabs-header button.active {
  background: #6a1b9a;
  color: white;
}

/* Khối nội dung Full Width */
.tabs-content-full-width {
  width: 100%; /* Đảm bảo trải rộng 100% container */
  padding: 20px;
  border: 1px solid #ddd;
  background: #fff;
  min-height: 150px; /* Tạo không gian hiển thị */
  box-sizing: border-box; /* Quan trọng để padding không làm tràn width */
}
.square-img-box {
  display: flex;
  width: 100%;
}
.square-img-box img {
  width: 100%;
}

/* Responsive cho Mobile: Chuyển về 2 cột */
@media (max-width: 768px) {
  .project-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

.square-img-box {
  width: 100%;
  aspect-ratio: 1 / 1; /* Ảnh vuông */
  overflow: hidden;
  border-radius: 8px;
}
.square-img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* dành cho empty */
.empty-state {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 20px;
  text-align: center;
  min-height: 300px;
}

.empty-icon {
  width: 150px; /* Kích thước mặc định */
  height: auto;
  margin-bottom: 20px;
}

.empty-state p {
  font-size: 18px;
  color: #888;
}

/* Responsive: Thu nhỏ icon trên điện thoại */
@media (max-width: 768px) {
  .empty-icon {
    width: 100px; /* Thu nhỏ icon khi màn hình nhỏ */
  }
  .empty-state p {
    font-size: 16px;
  }
}

.load-more-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  width: 100%;
}

.load-more-btn {
  padding: 12px 30px;
  background-color: #6a1b9a;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.3s;
}

.load-more-btn:hover {
  background-color: #4a126d;
}

/* Responsive: Điều chỉnh grid và ẩn phân trang web nếu cần */
@media (max-width: 768px) {
  .project-grid {
    grid-template-columns: repeat(
      2,
      1fr
    ); /* Mobile hiện 2 cột (mỗi hàng 2 ảnh) */
    gap: 15px;
  }
}
